:root {
    --main-color: black;
}
body {
    max-width: 980px;
    margin: auto;
}
.logo {
    width: 20%;
}
.small-logo {
    width: 100%;
}
header .list {
    list-style-type: none;
}
header .list a:hover {
    
}
header .menu a {
    text-decoration: none;
    color: var(--main-color);

}
@media (min-width: 610px) {
    header nav {
       display: flex;
    }
    header .list {
        display: flex;
        justify-content: space-around;
        align-items: left; 
        font-family: sans-serif;
        font-size: 15px;
        line-height: 30px;
    }
}