:root {
    --main-color: black;
    --brand-color: white;
}
body {
    max-width: 980px;
    margin: auto;
}
.logo {
    width: 20%;
}
.small-logo {
    width: 100%;
}
header .list {
    list-style-type: none;
}
header .list a {
    text-decoration: none;
    color: var(--main-color);

}
header .list a:hover {
    text-decoration: underline;
}
@media (min-width: 610px) {
    header nav {
       display: flex;
    }
    header .list {
        display: flex;
        justify-content: space-around;
        flex: 1;
        align-items: left; 
        font-family: sans-serif;
        font-size: 12px;
        line-height: 30px;
        width: 350px;
    }
}
header .banner {
    background-image: url(../img/main-photo.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}
header .banner h1 {
    color: var(--brand-color);
    font-family: sans-serif;
    font-size: 70px;
    padding-top: 90px;
}
header .banner h3 {
    color: var(--brand-color);
    font-family: sans-serif;
    font-size: 15px;
    padding-top: 10px;
}
.first-button {
    flex-basis: content;
    text-align: center;
    vertical-align: top;
    border: 2px solid rgba(80, 241, 204, 2);
    border-radius: 30px;
    padding: 15px 20px;
    text-decoration: none;
    background: rgb(80, 241, 204, 2);
    color: black;
    font-weight: 500;
    text-decoration: none;
}
.first-button:hover {
    background-color: rgb(80, 241, 204, 2);
    cursor: pointer;
}
.second-button {
    flex-basis: content;
    text-align: center;
    vertical-align: top;
    border: 2px solid white;
    border-radius: 30px;
    padding: 15px 20px;
    text-decoration: none;
    background-color: rgb(0, 0, 0, 0);
    color: white;
    font-weight: 500;
    text-decoration: none;
}
.second-button:hover {
    background-color: white;
    cursor: pointer;
}